<div class="app-container">
  
  <header>
    <app-header></app-header>
  </header>

  
  <main class="main-layout">
  
    <aside class="sidebar" aria-label="Left side panel">
      <app-sidebar side="left"></app-sidebar>
    </aside>

  
    <section class="content">
      <p-toast></p-toast>
      <app-loading-overlay *ngIf="loadingService.loading$ | async"></app-loading-overlay>
      <router-outlet></router-outlet>
    </section>

    <aside class="sidebar" aria-label="Right side panel">
      <app-sidebar side="right"></app-sidebar>
    </aside>
  </main>

  
  <footer>
    <app-footer></app-footer>
  </footer>
</div>