$iron-man-primary: #e7b300;
$iron-man-secondary: #e10000;
$iron-man-text: #f7fcfc;
$iron-man: linear-gradient(
  90deg,
  $iron-man-primary,
  $iron-man-secondary,
  #ff6a00,
  #b4b4b4,
  $iron-man-secondary,
  $iron-man-primary
);

// Arc Reactor
$arc-reactor: linear-gradient(
  135deg,
  transparent,
  rgba(0, 255, 255, 0.8),
  rgba(0, 255, 255, 0.4),
  rgba(0, 255, 255, 0.8),
  transparent
);

// Red Hulk
$red-hulk-primary: #d32f2f;
$red-hulk-secondary: #9c1b1b;
$red-hulk-text: #f7fcfc;
$red-hulk-gradient: linear-gradient(
  135deg,
  $red-hulk-primary,
  $red-hulk-secondary
);

// Thanos
$thanos-primary: #6a1b9a;
$thanos-secondary: #ffb300;
$thanos-text: #333333;
$thanos-gradient: linear-gradient(135deg, $thanos-primary, $thanos-secondary);

$hulk-primary: #4caf50;
$hulk-secondary: #388e3c;
$hulk-text: #f7fcfc;
$hulk-gradient: linear-gradient(135deg, $hulk-primary, $hulk-secondary);

// Spider-Man
$spiderman-primary: #d50032;
$spiderman-secondary: #1976d2;
$spiderman-text: #f7fcfc;
$spiderman-gradient: linear-gradient(
  135deg,
  $spiderman-primary,
  $spiderman-secondary
);

// Captain America
$captain-america-primary: #000042;
$captain-america-secondary: #aa1428;
$captain-america-text: #a5a5ab;
$captain-america-gradient: linear-gradient(
  135deg,
  $captain-america-primary,
  $captain-america-secondary
);

// Black Panther
$black-panther-primary: #000000;
$black-panther-secondary: #9c27b0;
$black-panther-text: #f7fcfc;
$black-panther-gradient: linear-gradient(
  135deg,
  $black-panther-primary,
  $black-panther-secondary
);
