$iron-man-primary: #e7b300; // Żółty
$iron-man-secondary: #e10000; // Czerwony
$iron-man-text: #ffffff; // Biały tekst
$iron-man: linear-gradient(
  90deg,
  $iron-man-primary,
  $iron-man-secondary,
  #ff6a00,
  #b4b4b4,
  $iron-man-secondary,
  $iron-man-primary
);

// Arc Reactor - pozostawiamy jak jest
$arc-reactor: linear-gradient(
  135deg,
  transparent,
  rgba(0, 255, 255, 0.8),
  rgba(0, 255, 255, 0.4),
  rgba(0, 255, 255, 0.8),
  transparent
);

// Red Hulk - Czerwony odcień przypisany do Hulka, bardziej intensywny czerwony
$red-hulk-primary: #d32f2f; // Intensywny czerwony
$red-hulk-secondary: #9c1b1b; // Ciemniejszy czerwony
$red-hulk-text: #f7fcfc; // Biały tekst
$red-hulk-gradient: linear-gradient(
  135deg,
  $red-hulk-primary,
  $red-hulk-secondary
); // Gradient z czerwonych odcieni

// Thanos - Fioletowy i złoty, aby pasowało do jego motywu
$thanos-primary: #6a1b9a; // Fioletowy
$thanos-secondary: #ffb300; // Złoty
$thanos-text: #333333; // Biały tekst
$thanos-gradient: linear-gradient(135deg, $thanos-primary, $thanos-secondary);

$hulk-primary: #4caf50;
$hulk-secondary: #388e3c;
$hulk-text: #ffffff;
$hulk-gradient: linear-gradient(135deg, $hulk-primary, $hulk-secondary);

// Spider-Man
$spiderman-primary: #d50032;
$spiderman-secondary: #1976d2;
$spiderman-text: #ffffff;
$spiderman-gradient: linear-gradient(
  135deg,
  $spiderman-primary,
  $spiderman-secondary
);

// Captain America
$captain-america-primary: #000042;
$captain-america-secondary: #aa1428;
$captain-america-text: #a5a5ab;
$captain-america-gradient: linear-gradient(
  135deg,
  $captain-america-primary,
  $captain-america-secondary
);

// Black Panther
$black-panther-primary: #000000;
$black-panther-secondary: #9c27b0;
$black-panther-text: #ffffff;
$black-panther-gradient: linear-gradient(
  135deg,
  $black-panther-primary,
  $black-panther-secondary
);
