@import 'variables/superheroes';
// Kolory
$primary-color: #6e3ba8;
$secondary-color: rgba(124, 11, 142, 0.7);
$accent-color: $iron-man;
$background-color: #ffffff;
$background-image: url("public/background.png");
$text-color: #f7fcfc;
$text-dark: #333333;
$text-light: #f7fcfc;
$error-color: $red-hulk-secondary;
$error-text-color: $red-hulk-text;


// Odstępy
$padding-small: 0.5rem;
$padding-medium: 1rem;
$padding-large: 2rem;

// Fonty
$font-family: "Arial", sans-serif;
$font-size-base: 12px;
$font-size-large: 1.25rem;
$font-size-small: 0.875rem;

// Breakpointy
$breakpoint-small: 480px; // Telefony
$breakpoint-medium: 768px; // Tablety
$breakpoint-large: 1024px; // Laptopy
$breakpoint-xlarge: 1200px; // Duże ekrany

// Inne
$border-radius: 5px;
$sidebar-width: 250px;
$base-gap: 20px;
$small-gap: 10px;

// Dodatkowe zmienne
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Cień do elementów
$transition-duration: 0.3s; // Czas trwania przejść
