.critical-error-message {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  max-width: 80%;
}

.critical-error-message h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.critical-error-message p {
  font-size: 1rem;
}
