<p-card
  [header]="showRegister ? headers['register'] : headers['login']"
>
  <form
    [formGroup]="showRegister ? registerForm : loginForm"
    (ngSubmit)="showRegister ? register() : login()"
    class="form-settings"
  >
    <ng-container *ngIf="!showRegister; else registerTemplate">
      <div class="p-field">
        <label for="username">{{ labels['login'] }}:</label>
        <input id="username" pInputText formControlName="username" />
        <div
          *ngIf="
            loginForm.get('username')?.invalid &&
            loginForm.get('username')?.touched
          "
          class="p-error"
        >
        {{warnings['loginRequired']}}
        </div>
      </div>

      <div class="p-field">
        <label for="password">{{ labels['password'] }}:</label>
        <p-password
          id="password"
          formControlName="password"
          toggleMask="true"
          strongLabel="Silne"
          weakLabel="Słabe"
          mediumLabel="Średnie"
          promptLabel="Wprowadź hasło"
        ></p-password>
        <div
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
          class="p-error"
        >
          {{warnings['passwordRequired']}}
        </div>
      </div>

      <p-button [label]="buttons['login']" type="submit"></p-button>

      <p
        class="register-link"
        (click)="toggleRegister()"
        style="cursor: pointer"
        onkeydown
      >
      {{messages['noAccount']}}
      </p>
    </ng-container>

    <ng-template #registerTemplate>
      <div class="p-field">
        <label for="name">{{ labels['name'] }}</label>
        <input id="name" pInputText formControlName="name" />
        <div
          *ngIf="
            registerForm.get('name')?.invalid &&
            registerForm.get('name')?.touched
          "
          class="p-error"
        >
        {{warnings['nameRequired']}}
        </div>
      </div>

      <div class="p-field">
        <label for="email">{{ labels['email'] }}:</label>
        <input id="email" pInputText formControlName="email" />
        <div
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
          class="p-error"
        >
        {{warnings['mailRequired']}}
        </div>
      </div>

      <div class="p-field">
        <label for="reg-username">{{ labels['login'] }}:</label>
        <input id="reg-username" pInputText formControlName="regUsername" />
        <div
          *ngIf="
            registerForm.get('regUsername')?.invalid &&
            registerForm.get('regUsername')?.touched
          "
          class="p-error"
        >
        {{warnings['loginRequired']}}
        </div>
      </div>

      <div class="p-field">
        <label for="reg-password">{{ labels['password'] }}:</label>
        <p-password
          id="reg-password"
          formControlName="regPassword"
          toggleMask="true"
          strongLabel="Silne"
          weakLabel="Słabe"
          mediumLabel="Średnie"
          promptLabel="Wprowadź hasło"
        ></p-password>
        <div
          *ngIf="
            registerForm.get('regPassword')?.invalid &&
            registerForm.get('regPassword')?.touched
          "
          class="p-error"
        >
        {{warnings['passwordRequired']}}
        </div>
      </div>

      <p-button [label]="buttons['register']" type="submit"></p-button>

      <p
        class="login-link"
        (click)="toggleRegister()"
        style="cursor: pointer"
        onkeydown
      >
      {{messages['haveAccount']}}
      </p>
    </ng-template>
  </form>
</p-card>
