@import 'variables';

.main-layout {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: $base-gap;
  
  .content {
    border-radius: $border-radius;
    flex: 1;
    padding: 20px;
    background-color: $secondary-color;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}