@import 'variables';

.main-layout {
  display: flex;
  flex: 1;

  .sidebar {
    width: $sidebar-width;
    background-color: $secondary-color;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .content {
    flex: 1;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}