@import "mixins/default_flex";

// Wrappers dla obrazka
.image-wrapper {
  width: 300px; /* Możesz zmienić na odpowiednią szerokość obrazka */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Odstęp od progressbara */
}

// Stylowanie obrazka - z lekkim wtapianiem na brzegach
.loading-image {
  max-width: 100%;
  max-height: 100%;
  background-color: transparent;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); /* Delikatny cień, żeby obrazek nie wyglądał zbyt ostro */
  // padding: 5px; /* Wtapianie w tło */

  /* Gradient na bokach obrazu, aby dawał efekt zanikania */
  -webkit-mask-image: radial-gradient(circle, black 10%, rgba(0, 0, 0, 0) 88%);
  mask-image: radial-gradient(circle, black 16%, rgba(0, 0, 0, 0) 82%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
