@import 'variables';
@import 'mixins/default_flex';

:host {
    width: 100%;
}

.right-side{
    @include flex-wrapper(row);
    color: $text-color;
    margin-right: 20px;
}

.right-side > p-iconfield {
    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-size: $font-size-base;
}